body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.edit-container {
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-container h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #343a40;
}

form {
    width: 80%;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px; 
}

form .update-button { 
    width: 100%;
    padding: 10px;
    background-color: #1ab41b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

form .delete-button { 
    width: 100%;
    padding: 10px;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

form button:hover {
    background-color: #0056b3;
}