body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.column {
    flex-basis: 48%;
}

ul {
    list-style-type: disc;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

header a,
nav a {
    color: white;
    margin-right: 20px;
}