body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #323435;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.header img {
    max-width: 100px;
    max-height: 100px;
}

.header a {
    color: white;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header nav ul li {
    margin-left: 15px;
}

.messages-image,
.login-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.logout-image {
    width: auto;
    height: 60px;
    margin-right: -5px;
    margin-left: -20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #757c7f;
}

.format-box {
    background-color: #404252;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.format-box ul {
    list-style-type: disc;
    padding-left: 20px;
    flex-grow: 1;
}

.format-box h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-column {
    width: 45%;
    padding-left: 20px;
}

.right-column {
    width: 45%;
    padding-right: 20px;
}

.form-section input[type="text"],
.form-section textarea {
    width: 50%;
    padding: 5px;
    margin: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #303030;
    color: white;
}

.form-section a {
    color: #007bff;
    font-size: 20px;
}

.form-section p {
    color: white;
    font-size: 20px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.success {
    background-color: #28a745;
    color: white;
}

.error {
    background-color: #dc3545;
    color: white;
}

.chat-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.chat-toggle:hover {
    background-color: #0056b3;
}

.chat-section {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 20px;
    width: 350px;
    background-color: white;
    border: 1px solid #565656;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #404252;
    color: white;
}

.chat-section h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.chat-form label {
    vertical-align: top;
    display: inline-block;
    margin-top: 8px;
}

.chat-form input[type="text"] {
    margin-top: 7px;
    background-color: #303030;
    color: white;
}

.chat-form textarea {
    margin-top: 5px;
    background-color: #303030;
    color: white;
}

.chat-form button {
    margin-top: 5px;
}

.format-list {
    margin-bottom: 50px;
    padding-left: 0;
}

.format-list li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.submit-button {
    background-color: #0063ff;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.send-button {
    background-color: #0063ff;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-icon,
.delete-icon {
    width: 15px;
    height: 15px;
}

.edit-button:hover,
.delete-button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.side-box {
    display: inline-block;
    margin-left: 5px;
}