<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Donation</title>
    <link rel="stylesheet" href="../static/edit_donation_styles.css">
</head>
<body>
    <div class="edit-container">
        <h1>Edit Donation</h1>
        <form action="{{ url_for('edit_donation', donation_id=donation.id) }}" method="post">
            <input type="hidden" id="donor" name="donor" value="{{ donation.donor }}">
            <label for="food_item">Food Item:</label>
            <input type="text" id="food_item" name="food_item" value="{{ donation.food_item }}" required><br>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="{{ donation.location }}" required><br>
            <button class="update-button" type="submit">Update Donation</button>
        </form>
        <form action="{{ url_for('delete_donation', donation_id=donation.id) }}" method="post">
            <button class="delete-button" type="submit">Delete Donation</button>
        </form>
    </div>
</body>
</html>